<!DOCTYPE html>

<html>
    <head>
        <title>Bantuan</title>
        <link rel="icon" href="/img/luffy.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="faq">
                <h2>a. Halaman ini digunakan untuk apa?</h2>
                <p>Halaman ini adalah bagian dari aplikasi yang bertujuan untuk memberikan bantuan dan panduan kepada pengguna. Di sini,pengguna dapat menemukan jawaban atas pertanyaan umum atau masalah yang mungkin mereka hadapi dalam menggunakan aplikasi tersebut.
            </div>
        
            <div class="faq">
                <h2>b. Apa itu API?</h2>
                <p>API (Application Programming Interface) adalah sekumpulan aturan dan protokol yang API (Application Programming Interface) adalah sekumpulan aturan dan protokol yang memungkinkan program atau aplikasi untuk meminta dan mengirim data atau akses ke fitur tertentu dari suatu sistem atau layanan.</p>
            </div>
        
            <div class="faq">
                <h2>c. API apa yang digunakan dalam aplikasi ini?</h2>
                <p>Dalam aplikasi ini, kami menggunakan API cuaca dari OpenWeatherMap. API ini memungkinkan aplikasi untuk mengakses dan mendapatkan informasi cuaca secara real-time dari berbagai lokasi di seluruh dunia</p>
            </div>
        
            <div class="faq">
                <h2>d. Salah satu pola arsitektur API adalah (pilih salah satu SOAP, RESTful, GraphQL dan gRPC)</h2>
                <p>Salah satu pola arsitektur API yang digunakan dalam aplikasi ini adalah RESTful. RESTful (Representational State Transfer) adalah pendekatan untuk merancang sistem distribusi yang memanfaatkan protokol HTTP. RESTful memungkinkan berbagai perangkat lunak atau aplikasi untuk berkomunikasi dengan cara yang efisien dan dapat diakses melalui internet. RESTful juga menggunakan metode HTTP standar seperti GET, POST, PUT, DELETE untuk memanipulasi sumber daya</p>
            </div>
        
        </div>
        {{>footer}}
    </body>
</html>