<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/luffy.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Cari berita...">
            <button id="search-button">Cari</button>
        </div>
        <div class="news-grid" id="news-container">
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
