<!DOCTYPE html>
<html>
<head>
    <title>Pencarian Berita</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div class="search-box">
        <input type="text" id="search-input" placeholder="Cari berita...">
        <button id="search-button">Cari</button>
    </div>
    <div class="news-grid" id="news-container">
        <!-- Hasil berita akan ditampilkan di sini -->
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
