<nav class="site-nav">
    <a href="/tentang" class="site-nav-brand">Afif Fathur</a>
    <div class="site-nav-links">
        <a href="/tentang">Tentang Saya</a>
        <a href="/cuaca">Cuaca</a>
        <a href="/bantuan">Bantuan</a>
        <a href="/berita">Berita</a>
    </div>
</nav>
